
body {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 212, 212);
  font-family: Arial, Helvetica, sans-serif;
}

.center-container {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.form-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-box button {
  width: 95%;
  padding: 10px;
  background-color: rgb(0, 234, 255); 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: large;
}

.form-box button:hover {
  background-color: rgb(0, 234, 255);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}
